body {
    background-color: white;
}
button {
    padding: 1.5rem 2.4rem;
    border: 450px rgb(9, 7, 7);
    border-radius: 20px;
    color: #38386b;
    margin: 10px 10px 10px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient( #9f9fdc 5%, #6868b5 75%, #484894 100%);
}
.button:hover{
    border: 450px rgb(239, 235, 235);
    color: rgb(249, 231, 247);
    font-weight: bolder;
}
