h1 {
    font-size: 5vw; 
    /* font-weight: 1vw; */
    text-align: center; 
}
container {
    display: flex; 
}
box1 {
    background-color:rgb(181, 247, 246);
    width: 100%;
    height: auto; 
    margin-right: 5px;
}
box2 {
    background-color:rgb(237, 212, 252);
    width: 100%;
    height: auto; 
    margin-left: 5px;
}